@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

html {
  font-family: Charter, serif;
  font-size: 130%;
  color: #333;
  width: 100%;
}

body {
  width: 50%;
  margin: 0 auto;
  padding: 30px 0;
}

#topbar, #bottombar { height: 10px; background: black; }
         #bottombar { margin-top: 40px; }

h1 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
} a:hover {
  text-decoration: underline;
}

img {
  vertical-align: middle;
}

li {
  list-style-type: none;
}

abbr {
  border-bottom: 1px solid #555;
}

pre, code {
  font-family: "Source Code Pro", Monaco, monospace;
  border: none !important;
}

.etym {
  color: #999;
}

.math {
  font-size: 120%;
  margin-left: 1em;
}
