body {
    font-family: "Lato", Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0px 0px 0px 0px;
}

/* red bar stretched across whole of
 * top screen */
#topbar {
    margin: 0 auto;
    width: 100%;
    height: 10px;
    background-color: #c74b30;
}

/* same color as #topbar */
h1 {
    color: #c74b30;
    font-size: 14pt;
}

h4 {
    color: #b06858;
}

/* div for main content and text */
div.content {
    color: #0b0b0c;
    width: 831px; /* matches width of
                   * title logo */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

/* 'Josh Hartigan' header logo. font is Adelle Bold */
#titlelogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}

a {
    color: #439dde;
    text-decoration: none;
}

/* '#' links by headers to anchor to content sections */
a.sec {
    color: #c9c8c3;
}

/* bigger font for code, since the site is about
 * programming */ 
pre {
    font-size: 13pt;
    background-color: #ffffd8;
}

/* disqus comments */
#disqus_thread {
    display: block;
    
    margin-left: auto;
    margin-right: auto;
}
