html, body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  background-color: #97C5E6;
  color: #333;
  width: 100%;
}

#container {
  width: 50%;
  margin: 0 auto;
}

h1 {
  font-size: 50px;
  text-align: center;
}

#content {
  font-size: 30px;
  color: #666;
}

a {
  text-decoration: none;
  color: #3E7FAD;
  /* border-bottom: 1px solid #797BD6; */
}

li {
  list-style-type: none;
}

